<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de LEDS</title>


    <link rel="stylesheet" href="/styles/pagina_led.css">
</head>
<body class="container-body">
    
    <div class="container">

        <h1>Status do Led</h1>

        <div class="status">



        </div>

        <div class="btns">

            <button class="btn ace">Acender</button>

            <button class="btn apa">Apagar</button>
        </div>

    </div>

    <a href="./pagina_lampada.html"><button class="btn vol">Voltar</button></a>

</body>
</html>