<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Lâmpada</title>

    <link rel="stylesheet" href="/styles/pagina_lampada.css">

    <script src="/static/estado_lampada.js" defer></script>


    

</head>
<body class="container-body">
    
    <div class="container">

        <h1>Status da Luz da Sala</h1>

        <div class="status">

          <div id="icone" class="status-icon">💡</div>

          

        </div>

    </div>

    <a href="./pagina_led.html"><button class="btn ir-led">Ir ao LED</button></a>

     
    
</body>
</html>